<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Create Post</title>
</head>

<body>
<<<<<<< HEAD
    <%- include("../components/header", isLoggedIn, user_id, profile_image) %>
    <main>
=======
    <%- include("../components/header", isLoggedIn, user_id, image) %>
    <main> 
>>>>>>> origin/branch-2
        <%- include("../components/nav") %>
        <div class="center">
            <form action="/createpost" method="post" class="users-form form__create">
                <textarea name="title" id="title" rows="1" placeholder="Title" required></textarea>
                <% if (typeof errTitle == 'string' && errTitle) { %>
                <p><%= errTitle %> </p>
                <% } %>
                <textarea placeholder="Description" name="description" id="description" cols="30" rows="15"
                    required></textarea>
                <% if (typeof errDesc == 'string' && errDesc) { %>
                <p><%= errDesc %> </p>
                <% } %>
                <button type="submit">Create Post</button>
            </form>
        </div>
    </main>
    <%- include("../components/scripts_links.ejs") %>
</body>

</html>