<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include("font-awesome") %>
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>

<body>
    <%- include("header") %> 
    <main>
        <article class="card__list">
            <% result.forEach(user=> { %>
            <div class="card">
                <header class="card__header">
                    <img src="" alt="">
                    <div class="card__user">
                        <h3><%= user.name %></h3>
                        <p><%= user.username %></p>
                    </div>
                </header>
                <p><%= user.post_text %></p>
                <div class="card__interact">
                    <ul>
                        <li><i class="fas fa-heart"></i></li>
                        <li><i class="fas fa-flag"></i></li>
                        <li><i class="fas fa-comment-dots"></i></li>
                    </ul>
                </div>
            </div>
            <% }) %>
        </article>
    </main>
    <script src="script.js"></script>
</body>

</html>