<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>My Answers</title>
</head>

<body>
    <%- include("../components/header", isLoggedIn, user_id, profile_image) %>
    <main>
        <%- include("../components/nav") %>
        <div class="card__list">
            <% comments.forEach((comment) => { %>
            <div class="card">
                <div class="card__content card__content--small">
                    <p><%= comment.comment_content %></p>
                    <div>
                        <hr>
                        <div class="card__info card__info--small">
                            <p>Comment by <a href="/users/<%= comment.user_id %>"><%= comment.username %></a></p>
                        </div>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </main>
    <%- include("../components/scripts_links.ejs") %>
    <script>
        let del = (id) => {
            alert('DELETE POST WHERE POST = ' + id)
            axios.delete('/posts/' + id)
                .then((result) => {
                    location.href = '/';
                }).catch((err) => {
                    alert('error ' + err)
                });
        };
    </script>
</body>

</html>