<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Home</title>
</head>

<body>
    <%- include("../components/header", isLoggedIn, user_id, image) %>
    <main>
        <%- include("../components/nav") %>
        <div class="card__list">
            <% posts.forEach(item => { %>

            <div class="card card__post">
                <div class="card__like">

                    <% if (typeof isLoggedIn == 'boolean' && isLoggedIn) { %>
                    <% if (status === "Unlike") { %>
                    <i class="fas fa-heart active" onclick="actOnPost(event)" data-post-id="<%= item.post_id %>"
                        data-post-status="<%= status %>"></i>
                    <% } else { %>
                    <i class="far fa-heart" onclick="actOnPost(event)" data-post-id="<%= item.post_id %>"
                        data-post-status="<%= status %>"></i>
                    <% } %>

                    <% } else { %>
                    <a href="/login"><i class="far fa-heart"></i></a>
                    <% } %>

                    <p id="likes-count-<%= item.post_id %>"><%= item.likes %></p>
                </div>

                <div class="card__content">
                    <div class="card__header">
                        <h3><%= item.post_title %> </h3>
                        <a href = "/report/post/<%= item.post_id %>"><i class="fas fa-flag post__flag" role = "button"></i></a>
                        <a href = "/editpost/<%= item.post_id %>" style = "margin-left: auto;"><i class="fas fa-edit" role = "button"></i></a>
                        <i class="far fa-trash-alt" role="button" onclick=<%='del(' + item.post_id +')' %>></i>
                    </div>
                    <p><%= item.post_content %> </p>
                    <hr>
                    <div class="card__info">
                        <% if (item.profile == '') { %>
                            <img src="/images/Unknown_person.jpg" alt="" width="35" height="35">
                        <% } else { %>
                            <img src="/images/<%= item.profile %>" alt="" width="35" height="35">
                        <% } %>
                        <p>Posted by <a href="/users/<%= item.user_id %>"><%= item.username %> </a></p>
                        <a href="/posts/<%= item.post_id %>"><i class="far fa-comment-alt"></i></a>
                    </div>
                </div>
                
            </div>
            <% }) %>

        </div>
        <div><a class="createpost" href="/createpost">Create a New Post</a></div>
    </main>
    <%- include("../components/scripts_links.ejs") %> 
    <script>    
        let del = (id) => {
            axios.delete('/api/post/' + id)
            .then((result) => {
                location.reload();
            }).catch((err) => {
                alert('error ' + err)
            });
        };
    </script>
</body>
</html>