<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('font-awesome') %>
    <link rel="stylesheet" href="style.css" />
    <title>Register</title>
</head>

<body>
    <%- include("header") %> 
    <main>
        <div class="users-form">
            <form action="/register" method="post" class="users-form__form">
                <label for="username">Username</label>
                <input type="text" autocomplete="off" placeholder="Username" name="username" id="username" required />

                <% if (typeof errorUsername=='string' && errorUsername) { %>
                <p class="users-form__error"><%= errorUsername %> </p>
                <% } %>

                <% if (typeof invalidUsername=='string' && invalidUsername ) {%>
                <p class="users-form__error"><%= invalidUsername %></p>
                <% } %>

                <label for="fullname">Full Name</label>
                <input type="text" autocomplete="off" placeholder="Full Name" name="fullname" id="fullname" required />
                <label for="email">Email</label>
                <input type="text" autocomplete="off" placeholder="Email" name="email" id="email" required />

                <% if (typeof errorEmail=='string' && errorEmail) { %>
                <p class="users-form__error"><%= errorEmail %> </p>
                <% } %>

                <% if (typeof invalidEmail=='string' && invalidEmail ) {%>
                <p class="users-form__error"><%= invalidEmail %></p>
                <% } %>

                <label for="password">Password</label>
                <input type="password" autocomplete="off" placeholder="Password" name="password" id="password"
                    required />

                <% if (typeof errorPassword =='string' && errorPassword ) { %>
                <p class="users-form__error"><%= errorPassword  %> </p>
                <% } %>

                <label for="confirmPassword">Confirm Password</label>
                <input type="password" autocomplete="off" placeholder="Confirm Password" name="confirmPassword"
                    id="confirmPassword" required />

                <% if (typeof invalidPasswordMatch=='string' && invalidPasswordMatch ) {%>
                <p class="users-form__error"><%= invalidPasswordMatch %></p>
                <% } %>

                <button type="submit">Register</button>
                <span id="no-account">Already have an account? <a href="/Login">Log in!</a></span>
            </form>
            <a class="go-back" href="/">Go Back to Home Page!</a>
        </div>
    </main>
    <script src="script.js"></script>
</body>

</html>